* {
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}

/* HEADER */
/* header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  background-color: rgb(12, 180, 76);
  top: 0;
  position: fixed;
  z-index: 999;
}
.header_left {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 50px;
}
.header_left > i {
  margin-right: 30px;
}
.header_left-right {
  display: flex;
  align-items: center;
}
.header_center > h2 {
  font-size: 30px;
  font-weight: 400;
  font-family: serif;
}
.header_center > h4{
  float: left;
  border-right: 1px solid #0755cb;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 36px;
  line-height: 36px;
  background-color: rgb(18, 166, 15);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}
a{
  display: block;
  padding: 0 28px;
  color: rgb(20, 14, 14);
  text-decoration: none;
}  
a:hover, a.active{
  background-color: rgb(21, 196, 97);
}
.header_right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 50px;
}
.header_right > h2 {
  font-weight: 400;
  font-size: 21px;
  color: rgba(0, 0, 0, 0.7);
} */
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
}

.header_center{
  display: flex;
  align-items: center;
}
.header_center h2{
  margin-right: 20px;
}
.header_right span {
  margin-right: 20px;
}
.header_right button, .story_box button{
  margin-right: 20px;
  padding: 2px 50px;
  border-color: #00c853;
  border-width: 1px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: white;
}
.header_right button:hover, .story_box button:hover{
  color: white;
  background-color: #00c853;
}
.right_content {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 20px;
}
.right_content > i {
  cursor: pointer;
  flex: 1;
}
.right_content > input {
  background: none;
}
.dropdown_content {
  position: absolute;
  background-color: rgba(249, 249, 249, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 45px;
  left: 0;
  width: 100%;
  height: 450px;
  z-index: 1;
  display: none;
}
.dropdown_contentImg > img {
  box-shadow: 0px 15px 10px 0px rgba(0, 0, 0, 0.5);
  margin-right: 50px;
  margin-top: 50px;
}
.dropdown_content > a:hover {
  color: #111;
  background-color: #fff;
}
.dropdown_content > h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 400;
  padding: 15px 0;
}
.dropdown_content > h2:hover {
  background-color: #00c853;
}
.header_left-right:hover .dropdown_content {
  display: flex;
  transform: scaleY(100%);
}
.header_left-right > h2 {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  font-size: 21px;
  font-family: serif;
}
.dropdown_contentImg {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* PARRALAX */

.parallax {
  width: 100%;
  height: 94.8vh;
  position: relative;
}
.parralax_icon {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 10px;
  right: 10px;
}
.parralax_icon .icon a i {
  color: #fff;
  margin-right: 30px;
  font-size: 20px;
}

.container {
  position: absolute;
  top: 50px;
}
.container .navigation {
  position: relative;
  width: 80px;
  height: 750px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}
.container .navigation.active {
  width: 300px;
}
.container .navigation ul {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
.container .navigation ul li {
  position: relative;
  padding: 30px 0;
  list-style: none;
  width: 100%;
}

.container .navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
.container .navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 80px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #fff;
}
.container .navigation ul li a .icon .fa {
  font-size: 24px;
}
.container .navigation ul li a .title {
  position: relative;
  display: block;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
  font-weight: 400;
  font-size: 22px;
  font-family: serif;
}
.container .navigation ul li a .title:hover {
  letter-spacing: 1.8px;
}
.toggle {
  position: absolute;
  top: 350px;
  right: -40px;
  width: 40px;
  height: 40px;
  /* background: #f5f5f5; */
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 50%;
}
.toggle::before {
  content: "\f054";
  font-family: fontAwesome;
  top: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 30px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.toggle.active::before {
  content: "\f053";
}
.parallax_content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 67%;
  left: 30%;
  z-index: 8;
}
.parallax_content > h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 500;
  font-family: serif;
}
.parallax_content > button {
  padding: 10px 40px;
  border: 1px solid #fff;
  border-radius: 5px;
  background: transparent;
  color: #fff;
  border-color: #00c853;
  font-size: 19px;
  margin-top: 20px;
}
.parallax_content > button:hover {
  border: none;
  background-color: #00c853;
  color: #111;
}
.parallax_content > a > img {
  margin-top: 30px;
  cursor: pointer;
  padding: 5px;
  border-radius: 100%;
  background-color: rgba(249, 249, 249, 0.5);
  animation: animateDown infinite 1.5s;
}
.parallax_content > a > img:hover {
  background-color: #00c853;
}

/* ABOUT US */

.aboutUs {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.heading {
  display: flex;
  align-items: center;
}
.heading > h1 > span {
  margin-right: 10px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 28px;
}
.heading > h1 {
  font-family: serif;
  font-size: 40px;
  font-weight: 600;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  position: relative;
}
.about > h3 {
  font-size: 17px;
  font-weight: 400;
  text-align: center;
}
.about > ul li {
  width: 410px;
  margin-top: 20px;
  font-family: serif;
  text-align: start;
}
.about > a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 400;
  position: absolute;
  bottom: -30px;
  right: 0px;
  color: #ff3300;
  cursor: pointer;
}

/* PRIVATE EVENT */

.contact_body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../src/images/image\ 4.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.contact_bodyLeft {
  flex: 0.5;
  margin-left: 50px;
}
.contact_bodyLeft h1 {
  text-align: center;
  margin: 20px 0;
  color: #fff;
}
.contact_bodyRight {
  flex: 0.5;
}
.contact_bodyRight iframe {
  padding: 10px 0 10px 50px;
}

.privateEvent {
  background-image: url("../images/1st.png");
  background-attachment: fixed;
  background-size: 100% 100%;
  position: relative;
  height: 60vh;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
}
.privateEvent > h1 {
  display: flex;
  align-items: center;
  color: #fff;
  font-family: serif;
  padding: 10px;
}
.privateEvent_BookInputs {
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
  align-items: center;
}
.left_img {
  display: flex;
  align-items: center;
}
.imgg{
  background-color: white;
  padding: 5px;
}
.imgg img{
  height: 50px;
  width: 50px;
  object-fit: contain;
}
.buttons > button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  margin-top: 20px;
  padding: 15px 20px;
  width: 200px;
  background-color: #00c853;
  border-color: #00c853;
  border-width: 1px;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.checkbox {
  margin-left: 40px;
  display: flex;
  align-items: center;
}
.checkbox > label {
  margin-left: 10px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}
.table {
  max-width: 800px;
}
.table tr td {
  padding: 10px 15px;
  /* border: none; */
  /* padding-bottom: 20px; */
  /* outline-width: 0px; */
}
.inp {
  padding: 10px;
  width: 100%;
  font-size: large;
}
.inpt {
  padding: 10px;
  width: 115%;
  font-size: large;
}

.first_Image > img {
  position: absolute;
  top: 20px;
  right: 50px;
  border: 2px solid #fff;
}
.second_image > img {
  position: absolute;
  top: 200px;
  right: 300px;
  border: 10px solid #fff;
}

/* STORY */

.story {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.rectangle {
  height: 15px;
  width: 15px;
  transform: rotate(45deg);
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin-right: 7px;
}
.story_icon {
  display: flex;
  align-items: center;
  position: relative;
}
.line {
  position: absolute;
  width: 110px;
  height: 2px;
  left: -24px;
  background-color: rgba(0, 0, 0, 0.4);
}
.story_upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.story_heading > h1 {
  font-size: 21px;
  letter-spacing: 3.5px;
  margin-top: 20px;
}
.story_lower {
  display: flex;
  flex-direction: column;
}
.story_lowerUpper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px;
}
.story_lowerUpperLeft {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 150px;
  justify-content: space-between;
}

.story_lowerUpperLeft > h3 {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
}
.story_lowerUpperRight {
  display: flex;
  align-items: center;
}
.first {
  display: flex;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}
.first:hover {
  transform: scale(1.1);
}
.first > h3 {
  font-size: 13px;
}
.dropdown_content2 {
  position: absolute;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 25px;
  left: 0;
  width: 100%;
  max-height: 250px;
  overflow-y: scroll;
  z-index: 1;
  display: none;
  padding: 10px 0;
}
.dropdown_content2 > h3 {
  font-size: 12px;
  letter-spacing: 1.1px;
  margin-left: 6px;
}
.story_lowerUpperLeft:hover .dropdown_content2 {
  display: flex;
}
.story_lowerLow {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-left: 10%;
  margin-bottom: 1%;
}
.story_box {
  position: relative;
  height: 380px;
  width: 60%;
  background-color: linear-gradient(to left top, blue, red);
  margin: 10px 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
  padding-bottom: 3%;
}
.story_box1 {
  padding: 0 10px;
}

.story_box1 img {
  max-height: 300px;
  padding-top: 5px;
}
.story_box1 > h3 {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}
.story_box1 > h1 {
  font-size: 23px;
  color: rgba(0, 0, 0, 0.8);
}
.story_box1 > p {
  font-size: 13px;
  text-align: justify;
  /* width: 100% !important; */
  color: rgba(0, 0, 0, 0.6);
}
.story_box1 > h4 {
  position: absolute;
  bottom: 5px;
  color: rgba(0, 0, 0, 0.4);
  font-family: serif;
  right: 5px;
  font-size: 14px;
}

/* SLIDER */

.slider {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60vh;
}
.slider_left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.slider_left > h1 {
  font-family: serif;
  font-size: 40px;
  position: relative;
  font-weight: 500;
}

.slider_left > p {
  color: rgba(0, 0, 0, 0.6);
  font-family: serif;
  font-size: 18px;
  margin-top: 20px;
  position: relative;
}

.slider_left ul li {
  width: 450px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
}
.slider_left > button {
  padding: 10px 30px;
  border: 1px solid #1aa170;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
  color: #1aa170;
  font-size: 19px;
  font-family: serif;
}
.cycle-inner {
  /* padding: 40px; */
  background-color: rgba(0, 0, 0, 0.1);
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */

  margin-bottom: 20px;
}

/* GALLARY */

.gallary {
  background-image: url("https://www.mwallpapers.com/photos/celebrities/hd-wallpapers/evening-arid-starry-sky-adventure-stars-sand-mountain-dune-desert-scenic-android-iphone-hd-wallpaper-background-downloadhd-wallpapers-desktop-background-android-iphone-1080p-4k-bsys7.jpg?v=1616170456");
  background-attachment: fixed;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  height: 60vh;
}
.gallary > h1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 200px;
  padding: 10px 0;
  letter-spacing: 1.5px;
  font-family: serif;
  font-size: 25px;
  margin-top: 70px;
  margin-bottom: 20px;
  color: #fff;
}
.gallary > h1::before {
  content: "";
  position: absolute;
  height: 2px;
  width: auto;
  left: 0px;
  right: 0px;
  background-color: #fff;
  bottom: 0px;
}

/* BLOG POST */

.Blog {
  height: 70vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.rectangle {
  height: 15px;
  width: 15px;
  transform: rotate(45deg);
  border: 1px solid rgba(0, 0, 0, 0.4);
  margin-right: 7px;
}
.Blog_icon {
  display: flex;
  align-items: center;
  position: relative;
}
.line {
  position: absolute;
  width: 110px;
  height: 2px;
  left: -24px;
  background-color: rgba(0, 0, 0, 0.4);
}
.Blog_upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.Blog_heading > h1 {
  font-size: 21px;
  letter-spacing: 3.5px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.Blog_lower {
  display: flex;
  flex-direction: column;
}
.Blog_lower > p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  color: #00c853;
  font-family: serif;
  font-size: 15px;
  font-weight: 600;
  position: relative;
}
.Blog_lower > p::before {
  content: "";
  position: absolute;
  height: 1px;
  width: auto;
  left: 700px;
  right: 700px;
  background-color: rgba(0, 0, 0, 0.2);
  bottom: -30px;
}
.Blog_lowerLow {
  display: flex;

  margin: auto;
  margin-top: 50px;
}
.Blog_box {
  margin-right: 5px;
  position: relative;
  height: 380px;
  width: 400px;
}

.blog_box1 h2 {
  font-size: 16px;
  margin: 10px 0;
}
.blog_box1 h3 {
  font-size: 19px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}
.blog_box1 p {
  width: 100%;
  font-size: 13px;
  margin-bottom: 20px;
}
.blog_box1 img {
  width: 100%;
  height: 200px;
}

/* FOOTER */

.footer {
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  display: flex;
  flex-direction: column;
}
.footerUpper {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  margin: auto;
}
.footerUpper_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 80px;
}
.footerUpper_content > h1 {
  font-weight: 300;
  font-size: 35px;
  color: rgba(249, 249, 249, 0.2);
}
.footerUpper_steps {
  margin: 20px 0;
}
.footerUpper_steps > p {
  font-size: 15px;
  color: rgba(249, 249, 249, 0.7);
  font-family: sans-serif;
  margin-top: 5px;
}
.footerCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 150px;
  padding: 0px 50px;
  position: relative;
}
.footerCenter ::before {
  content: "";
  position: absolute;
  height: 0.1px;
  width: auto;
  left: 0px;
  right: 0px;
  bottom: -50px;
  background-color: rgba(249, 249, 249, 0.1);
}
.footerCenter > input {
  padding: 13px 20px;
  background-color: rgba(249, 249, 249, 0.2);
  border: none;
  margin-left: 100px;
}
.catagories {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.profession {
  display: flex;
  align-items: center;
}

.profession > h3 {
  margin-right: 40px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(249, 249, 249, 0.7);
}
.icons > i {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px;
  margin: 0;
}
.footerDown {
  margin-top: 100px;
  margin-left: 50px;
}
.footerDown_content {
  display: flex;
  align-items: center;
}
.footerDown_content > i {
  font-size: 17px;
  margin-right: 5px;
  color: rgba(249, 249, 249, 0.3);
}
.footerDown_content > p {
  color: rgba(249, 249, 249, 0.3);
}
.footerDown > h3 {
  font-size: 13px;
  margin-top: 10px;
  font-weight: 400;
  letter-spacing: 1.5px;
}
.owl-carousel {
  padding: 0 100px;
  margin-top: 60px;
}
.story_box1 h3 {
  font-size: 16px;
  margin: 10px 0;
}
.story_box1 h1 {
  font-size: 19px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}
.story_box1 p {
  font-size: 13px;
  margin-bottom: 20px;
}
.story_box1 h4 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.8);
}
/* .glow::before,
.glow::after {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
   background: linear-gradient(
    45deg,
    #e6fb04,
    #ff6600,
    #00ff66,
    #00ffff,
    #ff00ff,
    #ff0099,
    #6e0dd0,
    #ff3300,
    #099fff
  ); 
  background-size: 400%;
  width: calc(100% + 6px);
  height: calc(100% + 7px);
  z-index: -1;
  animation: animate 20s linear infinite;
} */
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glow::after {
  filter: blur(8px);
}

/* PERMANENT FOOTER */
.permanent_Footer {
  bottom: 0;
  position: sticky;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  height: 80px;
  padding: 0 20px;
}
.PF_text > h3 {
  font-size: 18px;
  font-weight: 400;
  width: 600px;
}
.PF_icon {
  display: flex;
  align-items: center;
}
.PF_icon .icon a i {
  color: #111;
  margin-right: 20px;
  font-size: 20px;
}
@media only screen and (min-width: 375px) and (max-width: 500px) {
  .header {
    width: 100%;
    padding: 0%;
  }
  .st1 h1,
  .st2 h1,
  .st3 h1,
  .st4 h1 {
    display: none;
  }
  .cycle-inner {
    margin: 0%;
    padding: 0%;
    margin: auto;
  }
  .permanent_Footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .PF_text > h3 {
    width: 100%;
  }
  .PF_icon .icon a i {
    margin-right: 10px;
  }
  .header_center h2 {
    font-size: 14px;
    padding: 0% !important;
    margin: 0%;
  }
  .header_center  a{
    text-decoration: none;
    color: green;
  }
 

  .header_left-right {
    display: none;
  }
  .header_left {
    padding: 0%;
  }
  .header_right h2 {
    display: none;
  }
  .right_content {
    width: 100%;
  }
  .right_content input {
    width: 100px;
  }

  .navigation {
    height: 600px !important;
  }
  .container .navigation ul li a .icon .fa {
    font-size: 20px;
  }
  .container .navigation ul li a .title {
    font-size: 20px;
  }
  .parallax {
    width: 100% !important;
  }
  .parallax_content {
    bottom: -30px;
  }
  .parallax_content h1 {
    font-size: 30px;
  }
  .parallax_content a img {
    height: 30px;
    width: 30px;
    margin: 0%;
    margin-top: 10px;
  }
  .parallax_content button {
    margin: 0%;
    padding: 0%;
    padding: 5px 20px;
    margin-top: 10px;
  }
  .aboutUs {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
  }
  .about ul li {
    width: 100%;
    text-align: start;
    font-size: 14px;
    /* margin: 0%; */
  }
  .heading h1 {
    font-size: 22px;
  }
  .heading h1 span {
    font-size: 22px;
  }
  .contact_body {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .contact_bodyLeft {
    width: 100%;
    margin: 0%;
  }
  .contact_bodyLeft h1 {
    font-size: 25px;
  }
  .privateEvent_book {
    width: 100% !important;
    display: none;
  }
  .privateEvent_BookInputs {
    width: 100%;
  }
  .story {
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
  }
  .Blog {
    width: 100% !important;
    overflow: hidden;
    height: 100% !important;
  }
  .story_lowerUpperLeft {
    width: 150px;
    justify-content: center;
  }

  .story_lowerLow {
    overflow: scroll;
    width: 100%;
    height: 100% !important;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin: auto;
  }
  .Blog_lowerLow {
    overflow: scroll;
    width: 100%;
  }

  .story_box {
    width: 100% !important;
  }
  .Blog_box {
    width: 100% !important;
  }
  .story_heading h1 {
    font-size: 14px;
  }
  .story_lowerUpper {
    width: 100% !important;
    margin: 0%;
    padding: 0%;
  }

  .story_lowerUpperRight {
    margin: 0%;
    width: 100% !important;
    margin-left: 10px;
    display: none;
  }
  .first h3 {
    margin: 0% !important;
  }
  .contact_bodyRight iframe {
    width: 100% !important;
    height: 100% !important;
    margin: 0%;
    padding: 0%;
    padding: 10px 0;
  }
  .slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }
  .footer {
    width: 100%;
    height: 100%;
  }
  .footerUpper {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .profession {
    display: none;
  }
  .footerCenter {
    display: none;
  }
  .footerDown {
    width: 100%;
    padding: 0%;
    margin: 0%;
    margin-top: 20px;
    padding: 20px 0;
  }
  .footerDown h3 {
    font-size: 14px;
  }
  .PF_text h3 {
    font-size: 14px;
  }
  .slider_left {
    margin: 0%;
    padding: 0%;
  }
  .slider_left h1,
  .slider_left p {
    font-size: 20px;
    width: 100%;
    /* text-align: center; */
    margin: 0%;
  }

  .slider_left ul li {
    font-size: 13px;
    width: 100%;
    text-align: start;
    padding: 0 10px;
    /* margin: auto; */
  }
  .slider_left button {
    padding: 7px 15px;
    margin: 20px 0;
  }
}
@media only screen and (min-width: 500px) and (max-width: 768px) {
  .header {
    width: 100%;
    padding: 0%;
  }

  .permanent_Footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .PF_text > h3 {
    width: 100%;
  }
  .PF_icon .icon a i {
    margin-right: 10px;
  }
  .header_center h2 {
    font-size: 14px;
    padding: 0% !important;
    margin: 0%;
  }
  .header_left-right {
    display: none;
  }
  .header_left {
    padding: 0%;
  }
  .header_right h2 {
    display: none;
  }
  .right_content {
    width: 100%;
  }
  .right_content input {
    width: 100px;
  }

  .navigation {
    height: 600px !important;
  }
  .container .navigation ul li a .icon .fa {
    font-size: 20px;
  }
  .container .navigation ul li a .title {
    font-size: 20px;
  }
  .parallax {
    width: 100% !important;
  }
  .parallax_content {
    bottom: -30px;
  }
  .parallax_content h1 {
    font-size: 30px;
  }
  .parallax_content a img {
    height: 30px;
    width: 30px;
    margin: 0%;
    margin-top: 10px;
  }
  .parallax_content button {
    margin: 0%;
    padding: 0%;
    padding: 5px 20px;
    margin-top: 10px;
  }
  .aboutUs {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  .about ul li {
    width: 100%;
    text-align: center;
  }
  .heading h1 {
    font-size: 22px;
  }
  .heading h1 span {
    font-size: 22px;
  }
  .contact_body {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .contact_bodyLeft {
    width: 100%;
    margin: 0%;
  }
  .contact_bodyLeft h1 {
    font-size: 25px;
  }
  .privateEvent_book {
    width: 100% !important;
    display: none;
  }
  .privateEvent_BookInputs {
    width: 100%;
  }
  .story {
    width: 100% !important;
    overflow: hidden;
  }
  .story_lowerUpperLeft {
    width: 150px;
    justify-content: center;
  }

  .story_lowerLow {
    overflow: scroll;
    width: 100%;
    height: 100% !important;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: auto;
  }

  .Blog_lowerLow {
    overflow: scroll;
    width: 100%;
  }

  .story_box {
    width: 100% !important;
  }
  .story_heading h1 {
    font-size: 14px;
  }
  .story_lowerUpper {
    width: 100% !important;
    margin: 0%;
    padding: 0%;
  }

  .story_lowerUpperRight {
    margin: 0%;
    width: 100% !important;
    margin-left: 10px;
    display: none;
  }
  .first h3 {
    margin: 0% !important;
  }
  .contact_bodyRight {
    width: 90% !important;
  }
  .contact_bodyRight iframe {
    width: 100% !important;
    height: 100% !important;
    margin: 0%;
    padding: 0%;
    padding: 10px 0;
  }
  .slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }

  .gallary {
    flex-wrap: wrap !important;
    height: 100% !important;
    width: 100% !important;
  }
  .footer {
    width: 100%;
    height: 100%;
  }
  .footerUpper {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .profession {
    display: none;
  }
  .footerCenter {
    display: none;
  }
  .footerDown {
    width: 100%;
    padding: 0%;
    margin: 0%;
    margin-top: 20px;
    padding: 20px 0;
  }
  .footerDown h3 {
    font-size: 14px;
  }
  .PF_text h3 {
    font-size: 14px;
  }
  .slider_left {
    margin: 0%;
    padding: 0%;
  }
  .slider_left h1,
  .slider_left p {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin: 0%;
  }
  .slider_left p {
    text-align: left;
    margin: 10px;
  }
  .slider_left h1 {
    margin: 10px 0;
  }
  .slider_left ul li {
    font-size: 13px;
    width: 100%;
    text-align: start;
    padding: 0 10px;
    /* margin: auto; */
  }
  .slider_left button {
    margin: 0 0 10px 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 900px) {
  .header {
    width: 100%;
    padding: 0%;
  }
  .permanent_Footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .PF_text > h3 {
    width: 100%;
  }
  .PF_icon .icon a i {
    margin-right: 10px;
  }
  .header_center h2 {
    font-size: 14px;
    padding: 0% !important;
    margin: 0%;
  }
  .header_left-right {
    display: none;
  }
  .header_left {
    padding: 0%;
  }
  .header_right h2 {
    display: none;
  }
  .right_content {
    width: 100%;
  }
  .right_content input {
    width: 100px;
  }

  .navigation {
    height: 600px !important;
  }
  .container .navigation ul li a .icon .fa {
    font-size: 20px;
  }
  .container .navigation ul li a .title {
    font-size: 20px;
  }
  .parallax {
    width: 100% !important;
  }
  .parallax_content {
    bottom: -30px;
  }
  .parallax_content h1 {
    font-size: 30px;
  }
  .parallax_content a img {
    height: 30px;
    width: 30px;
    margin: 0%;
    margin-top: 10px;
  }
  .parallax_content button {
    margin: 0%;
    padding: 0%;
    padding: 5px 20px;
    margin-top: 10px;
  }
  .aboutUs {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  .about ul li {
    width: 100%;
    text-align: center;
  }
  .heading h1 {
    font-size: 22px;
  }
  .heading h1 span {
    font-size: 22px;
  }
  .contact_body {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .contact_bodyLeft {
    width: 100%;
    margin: 0%;
  }
  .contact_bodyLeft h1 {
    font-size: 25px;
  }
  .privateEvent_book {
    width: 100% !important;
    display: none;
  }
  .privateEvent_BookInputs {
    width: 100%;
  }
  .story {
    width: 100% !important;
    overflow: hidden;
  }
  .story_lowerUpperLeft {
    width: 150px;
    justify-content: center;
  }

  .story_lowerLow {
    overflow: scroll;
    width: 100%;
    height: 100% !important;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: auto;
  }

  .story_box {
    width: 100% !important;
  }
  .story_heading h1 {
    font-size: 14px;
  }
  .story_lowerUpper {
    width: 100% !important;
    margin: 0%;
    padding: 0%;
  }

  .story_lowerUpperRight {
    margin: 0%;
    width: 100% !important;
    margin-left: 10px;
    display: none;
  }
  .first h3 {
    margin: 0% !important;
  }
  .contact_bodyRight {
    width: 90% !important;
    height: 100% !important;
  }
  .contact_bodyRight iframe {
    width: 100% !important;
    height: 100% !important;
    margin: 0%;
    padding: 0%;
    padding: 10px 0;
  }
  .slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }

  .gallary {
    flex-wrap: wrap !important;
    height: 100% !important;
    width: 100% !important;
  }
  .footer {
    width: 100%;
    height: 100%;
  }
  .footerUpper {
    display: grid;
    grid-template-columns: repeat (2, minmax(0, 1fr));
  }
  .profession {
    display: none;
  }
  .footerCenter {
    display: none;
  }
  .footerDown {
    width: 100%;
    padding: 0%;
    margin: 0%;
    margin-top: 20px;
    padding: 20px 0;
  }
  .footerDown h3 {
    font-size: 14px;
  }
  .PF_text h3 {
    font-size: 14px;
  }
  .slider_left {
    margin: 0%;
    padding: 0%;
  }
  .slider_left h1,
  .slider_left p {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin: 0%;
  }
  .slider_left p {
    text-align: left;
    margin: 10px;
  }
  .slider_left h1 {
    margin: 10px 0;
  }
  .slider_left ul li {
    font-size: 17px;
    width: 100%;
    text-align: start;
    padding: 0 10px;
    /* margin: auto; */
  }
  .slider_left button {
    margin: 0 0 10px 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    width: 100%;
    padding: 0%;
  }
  .permanent_Footer {
    flex-direction: column;
    align-items: flex-start;
  }
  .PF_text > h3 {
    width: 100%;
  }
  .PF_icon .icon a i {
    margin-right: 10px;
  }
  .header_center h2 {
    font-size: 14px;
    padding: 0% !important;
    margin: 0%;
  }
  .header_left-right {
    display: none;
  }
  .header_left {
    padding: 0%;
  }
  .header_right h2 {
    display: none;
  }
  .right_content {
    width: 100%;
  }
  .right_content input {
    width: 100px;
  }

  .navigation {
    height: 600px !important;
  }
  .container .navigation ul li a .icon .fa {
    font-size: 20px;
  }
  .container .navigation ul li a .title {
    font-size: 20px;
  }
  .parallax {
    width: 100% !important;
  }
  .parallax_content {
    bottom: -30px;
  }
  .parallax_content h1 {
    font-size: 30px;
  }
  .parallax_content a img {
    height: 30px;
    width: 30px;
    margin: 0%;
    margin-top: 10px;
  }
  .parallax_content button {
    margin: 0%;
    padding: 0%;
    padding: 5px 20px;
    margin-top: 10px;
  }
  .aboutUs {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  .about ul li {
    width: 100%;
    text-align: center;
  }
  .heading h1 {
    font-size: 22px;
  }
  .heading h1 span {
    font-size: 22px;
  }
  .contact_body {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .contact_bodyLeft {
    width: 100%;
    margin: 0%;
  }
  .contact_bodyLeft h1 {
    font-size: 25px;
  }
  .privateEvent_book {
    width: 100% !important;
    display: none;
  }
  .privateEvent_BookInputs {
    width: 100%;
  }
  .story {
    width: 100% !important;
    overflow: hidden;
  }
  .story_lowerUpperLeft {
    width: 150px;
    justify-content: center;
  }

  .story_lowerLow {
    overflow: scroll;
    width: 100%;
    height: 100% !important;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    margin: auto;
  }

  .story_box {
    width: 100% !important;
  }
  .story_heading h1 {
    font-size: 14px;
  }
  .story_lowerUpper {
    width: 100% !important;
    margin: 0%;
    padding: 0%;
  }

  .story_lowerUpperRight {
    margin: 0%;
    width: 100% !important;
    margin-left: 10px;
    display: none;
  }
  .first h3 {
    margin: 0% !important;
  }
  .contact_bodyRight {
    width: 90% !important;
    height: 100% !important;
  }
  .contact_bodyRight iframe {
    width: 100% !important;
    height: 100% !important;
    margin: 0%;
    padding: 0%;
    padding: 10px 0;
  }
  .slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
  }

  .gallary {
    flex-wrap: wrap !important;
    height: 100% !important;
    width: 100% !important;
  }
  .footer {
    width: 100%;
    height: 100%;
  }
  .footerUpper {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .profession {
    display: none;
  }
  .footerCenter {
    display: none;
  }
  .footerDown {
    width: 100%;
    padding: 0%;
    margin: 0%;
    margin-top: 20px;
    padding: 20px 0;
  }
  .footerDown h3 {
    font-size: 14px;
  }
  .PF_text h3 {
    font-size: 14px;
  }
  .slider_left {
    margin: 0%;
    padding: 0%;
  }
  .slider_left h1,
  .slider_left p {
    font-size: 20px;
    width: 100%;
    text-align: center;
    margin: 0%;
  }
  .slider_left p {
    text-align: left;
    margin: 10px;
  }
  .slider_left h1 {
    margin: 10px 0;
  }
  .slider_left ul li {
    font-size: 17px;
    width: 100%;
    text-align: start;
    padding: 0 10px;
    /* margin: auto; */
  }
  .slider_left button {
    margin: 0 0 10px 20px;
  }
}
